.buttonAddColumn {
    display: flex;
    align-items: center;
    color: var(--main-subject-color);
}

.addTitle-controls {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}